{% extends "base.html" %}
{% block content %}
<form action="/" method="POST">
{% if error %}
<div class="error_msg">
  There was a problem adding the URL: {{ error }}
</div>
{% endif %}

<ul>
  <li>
   <input tabindex=1 type="text" id="url" name="url" placeholder="https://app.asana.com/task-id" value="{{ url }}"/>
   <input tabindex=10 type="checkbox" id="fullscreen" />
   <label tabindex=11 for="fullscreen">Fullscreen?</label>
  </li>
  <li>{{ prefix }} <input tabindex=2 type="text" id="suffix" name="easy_suffix" placeholder="something-easy-to-remember" value="{{ easy_suffix }}"/></li>
  <li><input tabindex=3 type="submit" value="Shorten" /></li>
</ul>
</form>
{% endblock %}
